.aboutusHead{
  font-size: 5rem;
  font-family: var(--md-ref-typeface-brand);
  margin: 45px 75px;
}

.aboutusSubHead{
  font-size: 2.1rem;
  margin: 45px 75px;
  color: rgb(0, 0, 0);
  font-family: var(--md-ref-typeface-mono);
}
.row1, .row2, .row3 {
  display: flex;
  flex-direction: row;
  margin: 45px 70px;
}
p{
  font-size: 1rem;
  font-family: var(--md-ref-typeface-mono);
  color: var(--md-sys-color-on-surface);

}
.row1col1, .row2col2 {
  flex: 1 0 60%;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 20px;
  border: solid 1px var(--md-sys-color-outline);
  margin: 5px;
  padding: 20px;
}

.row1col2, .row2col1 {
  flex: 1 0 40%;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 20px;
  border: solid 1px var(--md-sys-color-outline);
  margin: 5px;
  padding: 20px;
}

.row3col1, .row3col2 {
  flex: 1 0 40%;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 20px;
  border: solid 1px var(--md-sys-color-outline);
  margin: 5px;
  padding: 20px;
}
.quoteContainer {
  display: flex;
  flex-direction: column;
  margin: 45px 70px;
}
.quote{
  font-size: 1.5rem;
  font-family: var(--md-ref-typeface-mono);
  color: var(--md-sys-color-on-surface);
  margin: 20px 25% 0 25%;
text-align: center;
background-color: var(--md-sys-color-tertiary-container);
}
.quoteAuthor {
  font-size: 1.2rem;
  font-family: var(--md-ref-typeface-mono);
  color: var(--md-sys-color-on-surface);
  margin: 4px 25%;
  text-align: right;
  background-color: var(--md-sys-color-tertiary-container);
}
.devName{
  font-size: 1.5rem;
  font-family: var(--md-ref-typeface-mono);
  color: var(--md-sys-color-on-surface);
  font-weight: 600;
}
.devRole{
  font-size: 1.2rem;
  font-family: var(--md-ref-typeface-mono);
  color: var(--md-sys-color-on-surface);
  font-weight: 490;
}
@media (max-width: 930px) {
  .aboutusHead {
    margin: 30px 25px;
    font-size: 3.3rem;
  }
  .aboutusSubHead {
    margin: 30px 25px;
    font-size: 1.6rem;
  }
  .row1, .row2, .row3, .quoteContainer{
    flex-direction: column;
    margin: 30px 25px;
  }
  .row1col1, .row1col2, .row2col1, .row2col2, .row3col1, .row3col2{
    flex: 1 0 100%;
  }
  .quote{
    margin: 0px;
  }
  .quoteAuthor{
    margin: 5px 0px;
  }
}

