/* about_us.css */
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');

:root {
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;
  font-family: var(--md-ref-typeface-plain);
}

.header {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
}

.logo {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

.signin-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
/*Designing css for contents of about us page*/
.sub-header1{
    font-family: var(--md-ref-typeface-brand);
    font-size: 20px;
    margin-top: 20px;
    color: var(--md-sys-color-secondary);

}
.sub-header-qoute{
    font-family: var(--md-ref-typeface-brand);
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    color: var(--md-sys-color-surface-tint);

    
}
.sub-header-content1, .sub-header-content2, .sub-header-content3{
    font-family: var(--md-ref-typeface-brand);
    font-size: 16px;
    margin-top: 20px;
    color:var(--md-sys-color-outline);

}
.content{
    width: 100%;
  display: flex;
  justify-content: space-between;
}
.sub-header-content1{
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;;
    float: left;
    width: 45%;
}
.sub-header-content2{
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;;
    float: right;
    width: 45%;
}
.sub-header-content3{
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;;
    float: left;
    width: 45%;
}

.sub-header2, .sub-header3{
    font-family: var(--md-ref-typeface-brand);
    font-size: 18px;
    margin-top: 20px;
    color: var(--md-sys-color-secondary);
}



