/* footer css */

  
.footer {
  background: var(--md-sys-color-secondary-container);
  width : 100%;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: none;
  margin: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 10%;
  padding: 0 50px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 5px;
}

.footer-col a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #666;
  }
}
.footer a:hover {
  color: var(--md-sys-color-primary);
}

.col-footer {
  text-align: center;
}

.col-footer hr {
  border: none;
  border-top: 1px solid #333;
  width: none;
  margin: none;
}/* footer css */

  
.footer {
  background: var(--md-sys-color-secondary-container);
  width : 100%;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: none;
  margin: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 10%;
  padding: 0 50px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 5px;
}

.footer-col a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #666;
  }
}
.footer a:hover {
  color: var(--md-sys-color-primary);
}

.col-footer {
  text-align: center;
}

.col-footer hr {
  border: none;
  border-top: 1px solid #333;
  width: none;
  margin: none;
}/* footer css */

  
.footer {
  background: var(--md-sys-color-secondary-container);
  width : 100%;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: none;
  margin: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 10%;
  padding: 0 50px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 5px;
}

.footer-col a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #666;
  }
}
.footer a:hover {
  color: var(--md-sys-color-primary);
}

.col-footer {
  text-align: center;
}

.col-footer hr {
  border: none;
  border-top: 1px solid #333;
  width: none;
  margin: none;
}