/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');

:root {
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;
  font-family: var(--md-ref-typeface-plain);
}

.header {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
}

.logo {
    font-size: 24px;
    margin: 0;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    margin: 0 10px;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}

.signin-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.hero{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.hero-text{
    text-align: center;
}

#getstartedbtn{
    margin-top:10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.toggleBtn{
    display: none;
}

.menuDiv{
        position: fixed;
        right: 0;
        top: 60px;
        width: 0;
        height: 100%;
        background-color: white;
        overflow: hidden;
        display: none;
        z-index: 10;
        overflow-x: hidden;
        transition: 0.3s ease-in-out;
        box-shadow: -4px 7px 7px  rgba(0, 0, 0, 0.3); /* Add shadow to the left */
    }

.menuDiv.open{
    height: 90%;
}

.menuDiv li{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuDiv md-filled-button, .menuDiv md-outlined-button{
    width: 100%;
}

@media screen and (max-width: 820px){
    .header .links{
        display: none;
    }

    .header .toggleBtn{
        display: block;
        order: 1; /* toggleBtn to the left */
    }

    .menuDiv{
        display: block;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo{
        order: 2; /* logo to the center */
    }
    .signinBtn{
        order: 3; /* signinBtn to the right */
    }
}


/* footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


