@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: system-ui;
    font-family: var(--md-ref-typeface-plain);
    --md-text-button-icon-size: 1.3rem;
}

.navbarContainer {
    margin-bottom: 90px;
    background-color: var(--md-sys-color-secondary-container);
}

body {
    margin: 0;
    background-color: var(--md-sys-color-secondary-container);
}

.header,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 60px 10px 60px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000;
    justify-content: space-between;
    background-color: var(--md-sys-color-secondary-container);
    transition: 0.3s ease-in-out;
}

.logo {
    font-size: 1.5rem;
    font-family: var(--md-ref-typeface-brand);
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

nav ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.signin-button,
#getstartedbtn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

@keyframes gradient-background {
    0% {
        background-position: 0% 50%;
    }

    20% {
        background-position: 20% 50%;
    }

    40% {
        background-position: 40% 50%;
    }

    60% {
        background-position: 60% 50%;
    }

    80% {
        background-position: 80% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.bg-animation {
    background: linear-gradient(270deg, #fff8f1, #ffffff, var(--md-sys-color-inverse-on-surface), #ffffff);
    background-size: 300% 300%;
    animation: gradient-background 10s ease-in-out infinite;
}

.hero {
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}

.hero-text {
    text-align: center;
    padding: 0 10px;
}

#getstartedbtn {
    margin: 10px;
    font-size: 1.1rem;
    --md-filled-button-container-height: 50px;
}

.toggleBtn {
    display: none;
    cursor: pointer;
}

.menuDiv {
    position: fixed;
    left: 0;
    top: 50px;
    width: 0;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    display: none;
    z-index: 10;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.menuDiv li {
    padding: 5px 10px;
    display: flex;
}

.menuDiv md-text-button {
    font-size: 1.1rem;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.menuDiv md-filled-button {
    width: 100%;
    font-size: 1.1rem;
}

.bigHeading {
    font-size: 5rem;
    margin: 7% auto 10px auto;
}

.mediumText {
    font-size: 1.5rem;
    margin: 10px auto;
}

.bodyContainer {
    height: 85vh;
    overflow: auto; /* Updated from 'scroll' to 'auto' */
    background-color: var(--md-sys-color-background);
    margin: 3%;
    border-radius: 20px;
    z-index: -11;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    transition: background 0.5s ease-in-out;
}

/* When scrolling */
.bodyContainer.scrolling {
    scrollbar-color: var(--md-sys-color-surface-tint) transparent; /* Firefox */
}

.bodyContainer.scrolling::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-surface-tint); /* Chrome, Edge, and Safari */
}

.productContainer, .solutionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8%;
    margin-bottom: 4%;
}

.product1Container,
.product2Container,
.product3Container,
.product4Container,
.solutionsDescription,
.solutions {
    flex: 1 0 30%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--md-sys-color-primary-container);
    border: solid 1px var(--md-sys-color-outline);
    padding: 20px;
    border-radius: 20px;
}

.product1Container,
.product3Container {
    margin-left: 12%;
    margin-right: 10px;
}

.product2Container,
.product4Container {
    margin-right: 12%;
    margin-left: 10px;
}

.productTitle {
    font-size: 2.1rem;
    font-weight: bold;
    margin: 20px 35px;
}

.productDescription {
    font-size: 1.1rem;
    margin: 20px 35px;
}

.solutionsDescription .solutionsText {
    font-size: 1.5rem;
    margin: 20px 35px;
}

.solutionsDescription {
    margin-left: 5%;
    margin-right: 10px;
}

.solutions {
    margin-right: 5%;
    margin-left: 10px;
}

.solution1, .solution2, .solution3, .solution4 {
    flex: 1 0 30%;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: var(--md-sys-color-tertiary-container);
    border: solid 1px var(--md-sys-color-outline);
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 930px) {
    .header {
        padding: 15px 20px;
    }
    .header .logo {
        margin: auto;
        order: 2;
    }

    .header .links {
        display: none;
    }

    .header .toggleBtn {
        display: block;
        order: 1;
    }

    .menuDiv {
        display: block;
    }

    .menuDiv.expanded {
        width: 100%;
    }

    .bigHeading {
        font-size: 3.3rem;
        margin-bottom: 10px;
    }

    .mediumText {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    .product1Container,
    .product2Container,
    .product3Container,
    .product4Container {
        flex: 1 0 50%;
        margin-left: 20px;
        margin-right: 20px;

    }
    .bodyContainer{
        height: 80vh;
    }
    .solutionsDescription, .solutions {
        flex: 1 0 50%;
        margin-left: 20px;
        margin-right: 20px;
    }
}