* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: var(--md-sys-color-on-primary);
    color: var(--md-sys-color-primary);
    font: 300 1rem/1.5 Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100%;
}
.align {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.align__item--start {
    align-self: flex-start;
}
.align__item--end {
    align-self: flex-end;
}
.site__logo {
    margin-bottom: 2rem;
}
input {
    border: 0;
    font: inherit;
}
input::placeholder {
    color: var(--md-sys-color-primary);
}
.form__field {
    margin-bottom: 1rem;
}
.form input {
    outline: 0;
    padding: 0.5rem 1rem;
}
.form input[type="email"], .form input[type="password"],.form input[type="confirmpassword"] {
    width: 100%;
}
.grid {
    margin: 0 auto;
    max-width: 25rem;
    width: 100%;
}
h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
}
a {
    color: var(--md-sys-color-primary);
}
.register {
    box-shadow: 0 0 250px var(--md-sys-surface-container);
    text-align: center;
    padding: 4rem 2rem;
}
.register input {
    border: 1px solid var(--md-sys-surface-container);
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
}
.register input[type="email"], .register input[type="password"] {
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
}
.register input[type="submit"] {
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    color: #fff;
    margin-bottom: 6rem;
    width: 100%;
}
