
<body class="align">

    <div class="grid align__item">
  
      <div class="register">
  
        <h1>Acadify</h1>
  
        <h2>Forget Password</h2>
  
        <form action="" method="post" class="form">
  
          <div class="form__field">
            <input type="email" placeholder="info@mailaddress.com">
          </div>
  
          <div class="form__field">
            <input type="password" placeholder="••••••••••••">
          </div>
          <div class="form__field">
            <input type="confirmpassword" placeholder="Confirm Password">
          </div>
  
          <div class="form__field">
            <input type="submit" value="Save Changes">
          </div>
  
        </form>
  
        <p>Already have an accout? <a href="#">Log in</a></p>
  
      </div>
  
    </div>
  
  </body>
  