
<div class="sidebar close" #sidebar>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Category</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Category</a></li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Java</a></li>
        </ul>
      </li>
      
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Posts</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Posts</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Exam</a></li>
          <li><a href="#">Pratice</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-bookmark-plus' ></i>
          <span class="link_name">Analytics</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Analytics</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-customize' ></i>
          <span class="link_name">BookMarks</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">About Us</a></li>
          <li><a href="#">Delevepor</a></li>
          <li><a href="#">Motive</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-compass' ></i>
          <span class="link_name">Explore</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Explore</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">History</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">Arpita Agrahari</div>
        <div class="job">Web Developer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
                <i class='bx bx-menu' id="toggleButton" (click)="toggleSidebar()"></i>
                <nav class="navbar">
                  <input class="search__input" type="text" placeholder="Search">
            
                  <div class="navbar-icons">
                    <i class='bx bx-bell-plus'></i> <!-- Notification Icon -->
                    <i class='bx bx-cog'></i> <!-- Settings Icon -->
                    <img src="https://images.unsplash.com/photo-1440589473619-3cde28941638?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42ebdb92a644e864e032a2ebccaa25b6&auto=format&fit=crop&w=100&q=80" alt="Profile Photo" class="profile-photo">
                  </div>
                </nav>
                
    </div>
    <div class="main-content">
      <div class="content1">
        <ul class="projects">
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brands" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> Communication  </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
            </div>
            <div class="desc-row">
                <p> Communication skills involve listening, speaking, observing and empathising  xnoijoewio... </div>
            <div class="progress-row">
                <p class="value-label" style="width:94%" data-value="94"></p>
                <progress max="100" value="94" data-value="94"> 94% </progress>
            </div>
            <div class="footer-row">
                <div class="days danger"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 2 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>
        </ul>
      </div>
      <div class="content2">
        <ul class="projects">
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brand" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> JavaScript </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
            </div>
            <div class="desc-row">
                <p> JavaScript is a high-level, often just-in-time compiled language that conforms to the... </div>
            <div class="progress-row">
                <p class="value-label" style="width:64%" data-value="64"></p>
                <progress max="100" value="64" data-value="64"> 64% </progress>
            </div>
            <div class="footer-row">
                <div class="days warning"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 4 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>
        </ul>
      </div>
      <div class="content3">
        <ul class="projects">
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?icon" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> Backened </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
            </div>
            <div class="desc-row">
                <p>  A backend developer's job entails focusing on website architecture, cbksbkjasbckas.... </div>
            <div class="progress-row">
                <p class="value-label" style="width:59%" data-value="59"></p>
                <progress max="100" value="59" data-value="59"> 59% </progress>
            </div>
            <div class="footer-row">
                <div class="days warning"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 5 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>

        </ul>
      </div>
      <div class="content4">
        <ul class="projects">
          
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?adventure" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> CSS </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
            </div>
            <div class="desc-row">
                <p> . CSS is the language we use to style an HTML document. CSS describes how HTML..... </div>
            <div class="progress-row">
                <p class="value-label" style="width:94%" data-value="94"></p>
                <progress max="100" value="94" data-value="94"> 94% </progress>
            </div>
            <div class="footer-row">
                <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 7 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>

        </ul>
        </div>
        <div class="content5">
          <ul class="projects">
            <li class="project-item">
              <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?flower" alt="Image 001" />
                  <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
              </div>
              <div class="title-row">
                  <h3> Problem SOlving </h3>
                  <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
              </div>
              <div class="desc-row">
                  <p> Problem-solving is a complex skill that involves critical thinking, creativity, and xyz ajndjdn.... </div>
              <div class="progress-row">
                  <p class="value-label" style="width:44%" data-value="44"></p>
                  <progress max="100" value="44" data-value="44"> 94% </progress>
              </div>
              <div class="footer-row">
                  <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 9 days left </div>
                  <div class="users">
                      <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                      <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                  </div>
              </div>
          </li>
          </ul>
        </div>
        <div class="content6">
          <ul class="projects">
            <li class="project-item">
              <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brands" alt="Image 001" />
                  <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
              </div>
              <div class="title-row">
                  <h3> Python </h3>
                  <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
              </div>
              <div class="desc-row">
                  <p> Python is a popular programming language. Python can be used on a server .... </div>
              <div class="progress-row">
                  <p class="value-label" style="width:39%" data-value="39"></p>
                  <progress max="100" value="39" data-value="39"> 39% </progress>
              </div>
              <div class="footer-row">
                  <div class="days danger"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 11 days left </div>
                  <div class="users">
                      <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                      <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                  </div>
              </div>
          </li>
          </ul>
        </div>
        <div class="content7">
          <ul class="projects">
            <li class="project-item">
              <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?r" alt="Image 001" />
                  <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
              </div>
              <div class="title-row">
                  <h3> HTML </h3>
                  <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
              </div>
              <div class="desc-row">
                  <p> HTML provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs... </div>
              <div class="progress-row">
                  <p class="value-label" style="width:34%" data-value="34"></p>
                  <progress max="100" value="34" data-value="34" class="low"> 34% </progress>
              </div>
              <div class="footer-row">
                  <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 12 days left </div>
                  <div class="users">
                      <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                      <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                  </div>
              </div>
          </li>
          </ul>
          </div>
          <div class="content8">
            <ul class="projects">
              <li class="project-item">
                <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?sanfrancisco" alt="Image 001" />
                    <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
                </div>
                <div class="title-row">
                    <h3> Java </h3>
                    <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acdify.com </a> </div>
                </div>
                <div class="desc-row">
                    <p> Java is a popular programming language. Java is used to develop mobile apps, web apps, desktop apps, games and much more. </div>
                <div class="progress-row">
                    <p class="value-label" style="width:32%" data-value="32"></p>
                    <progress max="100" value="32" data-value="94"> 32% </progress>
                </div>
                <div class="footer-row">
                    <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 12 days left </div>
                    <div class="users">
                        <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                        <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                    </div>
                </div>
            </li>

            </ul>
            </div>
            <div class="content9">
              <ul class="projects">
                <li class="project-item">
                  <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brands" alt="Image 001" />
                      <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
                  </div>
                  <div class="title-row">
                      <h3> C </h3>
                      <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
                  </div>
                  <div class="desc-row">
                      <p>  C is a procedural programming language initially developed by Dennis Ritchie in the year 1972 at Bell Laboratories of AT&T Labs.</div>
                  <div class="progress-row">
                      <p class="value-label" style="width:94%" data-value="94"></p>
                      <progress max="100" value="94" data-value="94"> 94% </progress>
                  </div>
                  <div class="footer-row">
                      <div class="days danger"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 2 days left </div>
                      <div class="users">
                          <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                          <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                      </div>
                  </div>
              </li>

              </ul>
              </div>
    </div>
  </section>
  
  