
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--md-sys-color-surface-container);
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 78px;
  }
  
  .sidebar .nav-links{
    margin-top: 100px;
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: var(--md-sys-color-on-primary);
  }
  .sidebar .nav-links li .iocn-link{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--md-sys-color-primary);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color:  var(--md-sys-color-primary);
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: var(--md-sys-color-primary);
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: var(--md-sys-color-primary-container);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  
  .one {
    width: 80%;
    margin-left: 10%;
    background-color: var(--md-sys-color-on-primary);
    height: 400px;
  }
  
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--md-sys-color-primary);
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: var(--md-sys-color-on-primary);
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--md-sys-color-surface-container);
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu
  {
    color: var(--md-sys-color-primary);
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0 ;
    cursor: pointer;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
  }

  /*main-content*/
  .main-content{
    overflow: auto;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 40px;
    margin-top: 15px;
    background: white;
    height: 73vh;

  }


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background 0.5s ease-in-out;
}

/* When scrolling */
.bodyContainer.scrolling {
  scrollbar-color: var(--md-sys-color-surface-tint) transparent; /* Firefox */
}

.bodyContainer.scrolling::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-surface-tint); /* Chrome, Edge, and Safari */
}



.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9 {
    flex: 1 0 20%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--md-sys-color-surface-container);
    border: solid 1px var(--md-sys-color-outline);
    padding: 20px;
    border-radius: 20px;
}

.content1,
.content4,
.content7{
    margin-left: 2%;
    margin-right: 5px;
}

.content2,
.content5,
.content8{
    margin-right: 2%;
    margin-left: 18px;
}
.content3,
.content6,
.content9{
    margin-right: 2%;
    margin-left: 4px;
}

body {
  width: 450px;
  margin: 0 auto;
}

.search__container {
  margin-left: 200px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.search__input {
  width: 40%;
  padding: 10px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: var(--md-sys-color-primary);
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid var(--md-sys-color-primary);
  transition: all 400ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  color: var(--md-sys-color-primary);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--md-sys-color-primary);
  border-radius: 0;
  background-position: 100% center;
}


.navbar {

  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
}

.navbar-icons {
  margin-top: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 50px;
  color: var(--md-sys-color-primary);
}

.profile-photo {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.projects .project-item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  user-select: none;
  width: 250px;
}
.projects .project-item .logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .project-item .logo-row img {
  border-radius: 8px;
  display: block;
}
.projects .project-item .logo-row .icon {
  color: var(--md-sys-color-primary);
}
.projects .project-item .title-row {
  color: var(--md-sys-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin: 20px 0 10px; */
}
.projects .project-item .title-row h3 {
  font-weight: bold;
}
.projects .project-item .title-row .links {
  display: flex;
  align-content: center;
  /* padding: 8px 0; */
  color: var(--md-sys-color-primary);
  font-size: 0.75em;
}
/* .projects .project-item .title-row .links .icon {
  margin-right: 5px;
} */
.projects .project-item .title-row .links a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
}
.projects .project-item .desc-row {
  color: var(--md-sys-color-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.projects .project-item .progress-row {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.projects .project-item .progress-row p.value-label {
  display: block;
}
.projects .project-item .progress-row p[data-value] {
  position: relative;
}
.projects .project-item .progress-row p[data-value]:after {
  content: attr(data-value) "%";
  color: var(--md-sys-color-primary);
  font-size: 12px;
  position: absolute;
  display: block;
  right: -10px;
}
.projects .project-item .progress-row progress {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 20px;
  -webkit-appearance: none;
  height: 6px;
}
.projects .project-item .progress-row progress::-webkit-progress-bar {
  background-color: #d7dce0;
  border-radius: 5px;
}
.projects .project-item .progress-row ::-webkit-progress-value {
  background-color: var(--md-sys-color-primary);
  border-radius: 5px;
}
.projects .project-item .progress-row .low::-webkit-progress-value {
  background-color: var(--md-sys-color-primary);
}
.projects .project-item .footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .project-item .footer-row .days {
  padding: 8px 5px;
  border-radius: 4px;
  background: #bbc3c9;
  font-size: 12px;
  color: #565d68;
  background: #dbdee2;
}
.projects .project-item .footer-row .days.good {
  color: #4caf50;
  background: #fcfefc;
}
.projects .project-item .footer-row .days.warning {
  color: #fb8c00;
  background: #ffe7c8;
}
.projects .project-item .footer-row .days.danger {
  color: #d32f2f;
  background: #f7d7d7;
}
.projects .project-item .footer-row .users img {
  border-radius: 3px;
  margin: 0 2px;
}