<div class="light">
  <div class="sidebar close" #sidebar>
    <div class="toggleButtonContainer">
      <md-icon-button id="toggleButton" (click)="toggleSidebar()" toggle>
        <md-icon slot="selected">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M111.869-231.869v-90.761h523.348v90.761H111.869Zm672.848-41.196L579.696-480l205.021-206.935 63.414 63.652L706.522-480l141.609 143.522-63.414 63.413ZM111.869-434.5v-90.761H517.13v90.761H111.869Zm0-202.87v-90.761h523.348v90.761H111.869Z"/></svg>
        </md-icon>
          <md-icon>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M111.869-228.282v-91.001h736.262v91.001H111.869Zm0-206.218v-91h736.262v91H111.869Zm0-206.217v-91.001h736.262v91.001H111.869Z"/></svg>
          </md-icon>
        </md-icon-button>

    </div>
    <div class="sidebarNavLinks">
      <ul class="nav-links">
        <li>
          <a href="#">
            <i class='bx bx-grid-alt'></i>
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Category</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-collection'></i>
              <span class="link_name">Category</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Category</a></li>
            <li><a href="#">HTML & CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Java</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-book-alt'></i>
              <span class="link_name">Posts</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Posts</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Exam</a></li>
            <li><a href="#">Pratice</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-bookmark-plus'></i>
            <span class="link_name">Analytics</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Analytics</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-customize'></i>
            <span class="link_name">BookMarks</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Chart</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-bell-plus'></i>
              <span class="link_name">Notification</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">About Us</a></li>
            <li><a href="#">Delevepor</a></li>
            <li><a href="#">Motive</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-compass'></i>
            <span class="link_name">Explore</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Explore</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-history'></i>
            <span class="link_name">History</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">History</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog'></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Setting</a></li>
          </ul>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
            </div>
            <div class="name-job">
              <div class="profile_name">Arpita Agrahari</div>
              <div class="job">Web Developer</div>
            </div>
            <i class='bx bx-log-out'></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <section class="home-section">
    <div class="home-content">
      <div class="searchBox">
        <md-outlined-text-field placeholder="Search">
          <md-icon-button slot="trailing-icon">
            <md-icon>
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="28"><path d="M783.522-110.913 529.848-364.587q-29.761 23.044-68.642 36.565-38.88 13.522-83.119 13.522-111.152 0-188.326-77.174Q112.587-468.848 112.587-580q0-111.152 77.174-188.326Q266.935-845.5 378.087-845.5q111.152 0 188.326 77.174Q643.587-691.152 643.587-580q0 44.478-13.522 83.12-13.521 38.641-36.565 68.163l253.913 254.152-63.891 63.652ZM378.087-405.5q72.848 0 123.674-50.826Q552.587-507.152 552.587-580q0-72.848-50.826-123.674Q450.935-754.5 378.087-754.5q-72.848 0-123.674 50.826Q203.587-652.848 203.587-580q0 72.848 50.826 123.674Q305.239-405.5 378.087-405.5Z"/></svg>
            </md-icon>
          </md-icon-button>
        </md-outlined-text-field>
      </div>
      <div class="profileSection">
        <md-icon-button>
          <md-icon>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160ZM480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Z"/></svg>
          </md-icon>
        </md-icon-button>
        <md-icon-button>
          <md-icon>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
          </md-icon>
        </md-icon-button>
      </div>
    </div>
    <div class="main-content">
      <div class="content1">
        <ul class="projects">
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brands" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> Communication  </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="/quizapp"> Quiz App </a> </div>
            </div>
            <div class="desc-row">
                <p> Communication skills involve listening, speaking, observing and empathising  xnoijoewio... </div>
            <div class="progress-row">
                <p class="value-label" style="width:94%" data-value="94"></p>
                <progress max="100" value="94" data-value="94"> 94% </progress>
            </div>
            <div class="footer-row">
                <div class="days danger"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 2 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>
        </ul>
      </div>
      <div class="content2">
        <ul class="projects">
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brand" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> JavaScript </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="/codeEditorExam"> Code Editor </a> </div>
            </div>
            <div class="desc-row">
                <p> JavaScript is a high-level, often just-in-time compiled language that conforms to the... </div>
            <div class="progress-row">
                <p class="value-label" style="width:64%" data-value="64"></p>
                <progress max="100" value="64" data-value="64"> 64% </progress>
            </div>
            <div class="footer-row">
                <div class="days warning"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 4 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>
        </ul>
      </div>
      <div class="content3">
        <ul class="projects">
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?icon" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> Backened </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
            </div>
            <div class="desc-row">
                <p>  A backend developer's job entails focusing on website architecture, cbksbkjasbckas.... </div>
            <div class="progress-row">
                <p class="value-label" style="width:59%" data-value="59"></p>
                <progress max="100" value="59" data-value="59"> 59% </progress>
            </div>
            <div class="footer-row">
                <div class="days warning"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 5 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>

        </ul>
      </div>
      <div class="content4">
        <ul class="projects">
          
          <li class="project-item">
            <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?adventure" alt="Image 001" />
                <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
            </div>
            <div class="title-row">
                <h3> CSS </h3>
                <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
            </div>
            <div class="desc-row">
                <p> . CSS is the language we use to style an HTML document. CSS describes how HTML..... </div>
            <div class="progress-row">
                <p class="value-label" style="width:94%" data-value="94"></p>
                <progress max="100" value="94" data-value="94"> 94% </progress>
            </div>
            <div class="footer-row">
                <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 7 days left </div>
                <div class="users">
                    <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                    <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                </div>
            </div>
        </li>

        </ul>
        </div>
        <div class="content5">
          <ul class="projects">
            <li class="project-item">
              <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?flower" alt="Image 001" />
                  <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
              </div>
              <div class="title-row">
                  <h3> Problem SOlving </h3>
                  <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
              </div>
              <div class="desc-row">
                  <p> Problem-solving is a complex skill that involves critical thinking, creativity, and xyz ajndjdn.... </div>
              <div class="progress-row">
                  <p class="value-label" style="width:44%" data-value="44"></p>
                  <progress max="100" value="44" data-value="44"> 94% </progress>
              </div>
              <div class="footer-row">
                  <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 9 days left </div>
                  <div class="users">
                      <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                      <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                  </div>
              </div>
          </li>
          </ul>
        </div>
        <div class="content6">
          <ul class="projects">
            <li class="project-item">
              <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brands" alt="Image 001" />
                  <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
              </div>
              <div class="title-row">
                  <h3> Python </h3>
                  <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
              </div>
              <div class="desc-row">
                  <p> Python is a popular programming language. Python can be used on a server .... </div>
              <div class="progress-row">
                  <p class="value-label" style="width:39%" data-value="39"></p>
                  <progress max="100" value="39" data-value="39"> 39% </progress>
              </div>
              <div class="footer-row">
                  <div class="days danger"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 11 days left </div>
                  <div class="users">
                      <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                      <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                  </div>
              </div>
          </li>
          </ul>
        </div>
        <div class="content7">
          <ul class="projects">
            <li class="project-item">
              <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?r" alt="Image 001" />
                  <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
              </div>
              <div class="title-row">
                  <h3> HTML </h3>
                  <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
              </div>
              <div class="desc-row">
                  <p> HTML provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs... </div>
              <div class="progress-row">
                  <p class="value-label" style="width:34%" data-value="34"></p>
                  <progress max="100" value="34" data-value="34" class="low"> 34% </progress>
              </div>
              <div class="footer-row">
                  <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 12 days left </div>
                  <div class="users">
                      <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                      <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                  </div>
              </div>
          </li>
          </ul>
          </div>
          <div class="content8">
            <ul class="projects">
              <li class="project-item">
                <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?sanfrancisco" alt="Image 001" />
                    <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
                </div>
                <div class="title-row">
                    <h3> Java </h3>
                    <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acdify.com </a> </div>
                </div>
                <div class="desc-row">
                    <p> Java is a popular programming language. Java is used to develop mobile apps, web apps, desktop apps, games and much more. </div>
                <div class="progress-row">
                    <p class="value-label" style="width:32%" data-value="32"></p>
                    <progress max="100" value="32" data-value="94"> 32% </progress>
                </div>
                <div class="footer-row">
                    <div class="days"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 12 days left </div>
                    <div class="users">
                        <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                        <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                    </div>
                </div>
            </li>

            </ul>
            </div>
            <div class="content9">
              <ul class="projects">
                <li class="project-item">
                  <div class="logo-row"> <img src="https://source.unsplash.com/48x48/?brands" alt="Image 001" />
                      <div class="icon"> <i class="fa fa-ellipsis-h icon" aria-hidden="true"></i> </div>
                  </div>
                  <div class="title-row">
                      <h3> C </h3>
                      <div class="links"> <i class="fa fa-external-link icon" aria-hidden="true"></i> <a href="#"> acadify.com </a> </div>
                  </div>
                  <div class="desc-row">
                      <p>  C is a procedural programming language initially developed by Dennis Ritchie in the year 1972 at Bell Laboratories of AT&T Labs.</div>
                  <div class="progress-row">
                      <p class="value-label" style="width:94%" data-value="94"></p>
                      <progress max="100" value="94" data-value="94"> 94% </progress>
                  </div>
                  <div class="footer-row">
                      <div class="days danger"> <i class="fa fa-clock-o icon" aria-hidden="true"></i> 2 days left </div>
                      <div class="users">
                          <img src="https://source.unsplash.com/24x24/?human" alt="Image 001" />
                          <img src="https://source.unsplash.com/24x24/?humans" alt="Image 001" />
                      </div>
                  </div>
              </li>

              </ul>
              </div>
    </div>
  </section>
</div>