.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 188 147);
  --md-sys-color-surface-tint: rgb(255 182 137);
  --md-sys-color-on-primary: rgb(41 15 0);
  --md-sys-color-primary-container: rgb(199 128 82);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(233 195 173);
  --md-sys-color-on-secondary: rgb(37 17 5);
  --md-sys-color-secondary-container: rgb(172 138 118);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(207 206 150);
  --md-sys-color-on-tertiary: rgb(23 23 0);
  --md-sys-color-tertiary-container: rgb(148 147 97);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 13);
  --md-sys-color-on-background: rgb(240 223 215);
  --md-sys-color-surface: rgb(25 18 13);
  --md-sys-color-on-surface: rgb(255 250 248);
  --md-sys-color-surface-variant: rgb(82 68 60);
  --md-sys-color-on-surface-variant: rgb(219 199 188);
  --md-sys-color-outline: rgb(178 159 149);
  --md-sys-color-outline-variant: rgb(145 128 118);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 215);
  --md-sys-color-inverse-on-surface: rgb(49 40 35);
  --md-sys-color-inverse-primary: rgb(112 57 17);
  --md-sys-color-primary-fixed: rgb(255 219 200);
  --md-sys-color-on-primary-fixed: rgb(34 11 0);
  --md-sys-color-primary-fixed-dim: rgb(255 182 137);
  --md-sys-color-on-primary-fixed-variant: rgb(90 40 1);
  --md-sys-color-secondary-fixed: rgb(255 219 200);
  --md-sys-color-on-secondary-fixed: rgb(31 12 2);
  --md-sys-color-secondary-fixed-dim: rgb(229 191 169);
  --md-sys-color-on-secondary-fixed-variant: rgb(73 49 33);
  --md-sys-color-tertiary-fixed: rgb(231 229 172);
  --md-sys-color-on-tertiary-fixed: rgb(18 18 0);
  --md-sys-color-tertiary-fixed-dim: rgb(203 201 146);
  --md-sys-color-on-tertiary-fixed-variant: rgb(56 56 15);
  --md-sys-color-surface-dim: rgb(25 18 13);
  --md-sys-color-surface-bright: rgb(65 55 49);
  --md-sys-color-surface-container-lowest: rgb(20 13 8);
  --md-sys-color-surface-container-low: rgb(34 26 21);
  --md-sys-color-surface-container: rgb(38 30 25);
  --md-sys-color-surface-container-high: rgb(49 40 35);
  --md-sys-color-surface-container-highest: rgb(61 51 45);
}
